body{
    background-color: aliceblue;
    color:#111;
    width:100%;
    height: 100vh;
    margin:0;
}

#contents{
    width:80%;
    height: 100vh;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1{
    width:100%;
    font-size: 5vmin;
    margin:0;
}

#comment{
    color:#333;
    font-size: clamp(6px, 2.5vmin, 16pt);
}

#display{
    display: flex;
    height: 50vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



#display_text{
    border:none;
    width:90%;
    height: 100%;
}

#input{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
}

#count{
    width:90%;
    text-align: left;
    font-size: 2vh;
}

.count_nomal{
    color:#333;
}
.count_over{
    color:#660000;
    background-color: darksalmon;
}

#input_text{
    width:90%;
    height: 15vh;
}

textarea{
    font-size:(10px, 2.5vmin, 16px);
}

button{
    margin:1vh;
    background-color: cornflowerblue;
    width:35%;
    height: 5vh;
    color:#FFF;
    border: none;
    font-size: 3vh;
}

#help{
    height: 3vh;
    font-size:2vh;
    width:10%;
    background-color: dimgray;
}

.button_group{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#copy_message{
    font-size:2vmin;
    color:darkcyan;
}